Repository S-O-O-P/S-O-O-P-React-Admin, pull requests merged in 2024-07, with the labels that each got.

#18 [FEATURE][ADMIN][DASHBOARD4]로그인 페이지 생성 및 백엔드 데이터 호출& 1:1문의사항 백엔드 데이터 호출& 허니팟 관리 백엔드 데이터 호출 수정
  public/images/login/Box.png
  public/images/login/Box2.png
  public/images/login/Google.png
  public/images/login/Kakao.png
  public/images/login/Naver.png
  src/App.js
  src/components/admin/InquiryTable.js
  src/components/admin/Login.css
  src/components/admin/Login.js
  src/components/commons/Sidebar.css
  src/components/commons/Sidebar.js
  src/layouts/Layout.js
  src/pages/Customer/Customer.js
  src/pages/Honeypot/Honeypot.css
  src/pages/Honeypot/Honeypotdetail.js
  src/pages/Inquiry/Inquiry.js
  src/pages/Inquiry/InquiryAnswer.js
Labels: ✨ Feature, 🎨 Html&css, :pager: BackEnd

#20 [FEATURE][ADMIN][DASHBOARD5]로그인 모달창 css & 1:1문의사항 백엔드 데이터 호출 수정& 허니팟 관리 프론트 수정
  src/components/admin/CustomerTable.js
  src/components/admin/HoneypotTable.js
  src/components/admin/Login.css
  src/components/admin/Login.js
  src/pages/Customer/Customer.css
  src/pages/Customer/Customer.js
  src/pages/Honeypot/Honeypot.css
  src/pages/Honeypot/Honeypot.js
  src/pages/Inquiry/Inquiry.js
Labels: ✨ Feature, 🎨 Html&css, :pager: BackEnd

#22 [FEATURE][NOTICEREGIST] 공지사항 등록 페이지
  src/App.js
  src/pages/Notice/Notice.js
  src/pages/Notice/NoticeRegist.js
  src/pages/Notice/NoticeRegist.module.css
Labels: 🎨 Html&css

#23 [FEATURE][EVENTSINFO][DETAIL] 공연/전시 상세 페이지 레이아웃 수정 작업
  public/index.html
  public/logo.png
  public/manifest.json
  src/components/admin/EventEdit.js
  src/components/admin/EventForm.js
  src/components/admin/EventInfo.js
  src/components/admin/EventTable.js
  src/pages/EventsInfo/EventsDetail.css
Labels: 🎨 Html&css

#25 [FEATURE][ADMIN][DASHBOARD6] 리액트 CSS 수정
  src/App.js
  src/components/admin/CustomerTable.js
  src/components/admin/EventTable.js
  src/components/admin/HoneypotTable.js
  src/components/admin/InquiryTable.js
  src/components/admin/Login.css
  src/components/admin/Login.js
  src/components/admin/NoticeTable.js
  src/components/admin/Table.css
  src/pages/Customer/Customer.css
  src/pages/Customer/Customer.js
  src/pages/Customer/Customerdetail.js
  src/pages/EventsInfo/Events.css
  src/pages/EventsInfo/Events.js
  src/pages/Home/Dashboard.css
  src/pages/Honeypot/Honeypot.css
  src/pages/Honeypot/Honeypot.js
  src/pages/Inquiry/Inquiry.css
  src/pages/Inquiry/Inquiry.js
  src/pages/Inquiry/InquiryAnswer.module.css
  src/pages/Notice/Notice.css
  src/pages/Notice/Notice.js
Labels: 🎨 Html&css

#27 [FEATURE][ADMIN][DASHBOARD7] 각 페이지 프론트 수정
  src/components/admin/InquiryTable.js
  src/components/admin/Login.js
  src/components/admin/Table.css
  src/components/commons/Sidebar.css
  src/components/commons/Sidebar.js
  src/pages/Customer/Customer.js
  src/pages/Customer/Customerdetail.css
  src/pages/Customer/Customerdetail.js
  src/pages/EventsInfo/Events.js
  src/pages/Home/Dashboard.css
  src/pages/Home/Dashboard.js
  src/pages/Honeypot/Honeypot.js
  src/pages/Honeypot/Honeypotdetail.css
  src/pages/Honeypot/Honeypotdetail.js
  src/pages/Inquiry/Inquiry.js
  src/pages/Inquiry/InquiryAnswer.module.css
  src/pages/Notice/Notice.js
Labels: 🎨 Html&css

#32 [FEATURE][NOTICEREGIST] 공지사항 등록페이지
  src/App.js
  src/pages/Notice/Notice.js
  src/pages/Notice/NoticeRegist.js
  src/pages/Notice/NoticeRegist.module.css
Labels: ✨ Feature, 🎨 Html&css

#31 [FEATURE][EVENTSINFO][API] 얼리버드 공연/전시 정보 RestApi 연결
  src/App.js
  src/apis/EventsInfoApi.js
  src/components/admin/EventEdit.js
  src/components/admin/EventForm.js
  src/components/admin/EventInfo.js
  src/components/admin/EventTable.js
  src/pages/EventsInfo/Events.js
  src/pages/EventsInfo/EventsDetail.css
  src/pages/EventsInfo/EventsDetail.js
Labels: 📬 API, ✨ Feature

#30 [FEATURE][ADMIN][DASHBOARD8] 프론트 수정
  src/apis/CustomerAPI.js
  src/apis/CustomerdetailAPI.js
  src/apis/DashboardAPI.js
  src/apis/HoneypotAPI.js
  src/apis/HoneypotdetailAPI.js
  src/apis/InquiryAPI.js
  src/apis/InquiryAnswerAPI.js
  src/components/admin/HoneypotTable.js
  src/components/admin/InquiryTable.js
  src/components/admin/Login.css
  src/components/admin/Table.css
  src/pages/Customer/Customer.js
  src/pages/Customer/Customerdetail.css
  src/pages/Customer/Customerdetail.js
  src/pages/Home/Dashboard.css
  src/pages/Home/Dashboard.js
  src/pages/Honeypot/Honeypot.js
  src/pages/Honeypot/Honeypotdetail.js
  src/pages/Inquiry/Inquiry.js
  src/pages/Inquiry/InquiryAnswer.js
Labels: 🎨 Html&css

#33 [FEATURE][EVENTSINFO][API] 얼리버드 공연/전시 정보 등록페이지 비활성화 에러 해결
  src/pages/EventsInfo/Events.js
Labels: 🐞 BugFix, ✨ Feature

#35 [FEATURE][ADMIN][DASHBOARD9] 공지사항 수정
  src/components/admin/NoticeTable.js
  src/pages/Notice/Notice.js
Labels: ✨ Feature

#39 [FEATURE][ADMIN][DASHBOARD10] 각 페이지 CSS 수정
  src/App.js
  src/components/admin/EventEdit.js
  src/components/admin/EventForm.js
  src/components/admin/Login.js
  src/components/admin/NoticeTable.js
  src/components/admin/ScrolltoTop.js
  src/components/admin/Table.css
  src/components/commons/Sidebar.css
  src/pages/EventsInfo/EventsDetail.js
  src/pages/Home/Dashboard.js
  src/pages/Honeypot/Honeypotdetail.js
  src/pages/Notice/Notice.js
  src/pages/Notice/NoticeRegist.js
Labels: 🎨 Html&css, :pager: BackEnd

#42 [FEATURE][ADMIN][DASHBOARD11] 장르별 허니팟 수정 & 얼리팟 검색 수정
  src/apis/DashboardAPI.js
  src/pages/EventsInfo/Events.js
  src/pages/Home/Dashboard.js
Labels: 🎨 Html&css

#43 [FEATURE][NOTICE] 공지사항 수정, 삭제 기능 추가 (파일 기능 구현중)
  src/pages/Notice/NoticeEdit.js
  src/pages/Notice/NoticeInfo.js
  src/pages/Notice/NoticeInfo.module.css
  src/pages/Notice/NoticeRegist.js
Labels: ✨ Feature

#46 [FEATURE][ADMIN][DASHBOARD12] 대시보드 & 1:1문의 관리 수정
  src/components/commons/Sidebar.js
  src/pages/Home/Dashboard.css
  src/pages/Home/Dashboard.js
  src/pages/Honeypot/Honeypotdetail.js
  src/pages/Inquiry/InquiryAnswer.js
Labels: 🎨 Html&css

#47 [FEATURE][NOTICE] 파일 업로드
  src/pages/Notice/NoticeRegist.js
Labels: ✨ Feature, :pager: BackEnd

#49 [FEATURE][ADMIN][DASHBOARD13] 회원관리 상세 및 1:1 상세 수정
  src/pages/Customer/Customerdetail.js
  src/pages/EventsInfo/EventsDetail.css
  src/pages/Inquiry/InquiryAnswer.js
  src/pages/Inquiry/InquiryAnswer.module.css
Labels: 🎨 Html&css

#50 [FEATURE] [NOTICE] FILE 등록, 삭제, 조회 기능 추가
  src/pages/Notice/NoticeEdit.js
  src/pages/Notice/NoticeInfo.js
  src/pages/Notice/NoticeInfo.module.css
Labels: ✨ Feature, :pager: BackEnd

#51 [FEATURE][FILE] 공지사항 파일 수정 기능
  src/pages/Notice/NoticeEdit.js
  src/pages/Notice/NoticeInfo.js
  src/pages/Notice/NoticeRegist.js
Labels: ✨ Feature, 🎨 Html&css

#53 [FEATURE][ADMIN][DASHBOARD14] 로그인 USERCODE 수정
  src/components/admin/Login.js
  src/components/commons/Sidebar.js
Labels: ✨ Feature, 🎨 Html&css

#57 [FEATURE][NOTICE] 공지사항 이미지 파이어베이스
  package-lock.json
  package.json
  src/firebaseConfig.js
  src/pages/Notice/NoticeEdit.js
  src/pages/Notice/NoticeInfo.js
  src/pages/Notice/NoticeRegist.js
Labels: 📬 API, 🎨 Html&css, 🔨 Refactor

#59 [FEATURE][ADMIN][DASHBOARD15] 각 테이블 수정 및 에러 페이지 불러오기
  src/App.js
  src/components/admin/ErrorBoundary.js
  src/components/admin/HoneypotTable.js
  src/components/admin/InquiryTable.js
  src/components/admin/NoticeTable.js
  src/pages/Home/Dashboard.js
  src/pages/Honeypot/Honeypot.js
  src/pages/Honeypot/Honeypotdetail.js
  src/pages/Inquiry/Inquiry.js
  src/pages/Notice/Notice.js
Labels: ✨ Feature, 🎨 Html&css

#61 [FEATURE][ADMIN][DASHBOARD16] 회원 프로필 사진 수정 및 예외처리 수정
  src/App.js
  src/components/admin/ErrorBoundary.js
  src/pages/Customer/Customerdetail.css
  src/pages/Error/Error400.js
  src/pages/Error/Error403.js
  src/pages/Error/Error404.js
  src/pages/Error/Error500.js
  src/pages/Error/ErrorPage.css
Labels: ✨ Feature, 🎨 Html&css, :pager: BackEnd

#62 [FEATURE][NOTICE] 공지사항 등록 기능 수정
  src/pages/Notice/NoticeRegist.js
Labels: 🔨 Refactor

#64 [FEATURE][ADMIN][DASHBOARD17] 예외처리 수정
  src/App.js
  src/apis/CustomerAPI.js
  src/components/admin/ErrorBoundary.js
  src/pages/Customer/Customerdetail.js
  src/pages/Error/Error400.js
  src/pages/Error/Error403.js
  src/pages/Error/Error404.js
  src/pages/Error/Error500.js
  src/pages/Notice/NoticeInfo.js
Labels: ✨ Feature, 🎨 Html&css

#65 [FEATURE][ADMIN][DASHBOARD18] 1:1문의 무한루프 해결
  src/components/admin/ErrorBoundary.js
  src/pages/Error/ErrorPage.css
  src/pages/Home/Dashboard.js
  src/pages/Inquiry/Inquiry.js
Labels: 🐞 BugFix, ✨ Feature, 🎨 Html&css
